@import '_variables';
@import "design";


$bg-color:$back-color;
$text-color:rgb(26, 26, 172);
$bg-image:url("/images/foto.png");



@function double($value){
    @return $value*2;
}


@function selectColor($select_background){

    @if($bg-color==white){
        $text-color:"black";
        @return $text-color;
    }

    @else if($bg-color==black){
        $text-color:white;
        @return $text-color;
    }
    @else{
        @return $text-color;
    }
}





.isim{
    color: selectColor($bg-color);
    height: 300px;
    width: double(300px);
    background-color: $bg-color;
    font-size: $font-size;
}


@mixin button-base {
    border-radius: 20px;
    margin: 5px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background-color: black;
    color: white;
}

.button-base{
    border-radius: 20px;
    margin: 5px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background-color: black;
    color: white;
}

.button-general{
    @extend .button-base;
}


.blue-button{
    @extend .button-base;
    background-color: blue;
    color: white;
}

.green-button{
    @extend .button-base;
    background-color: green;
    color: white;
}


.resim{
    width: 300px;
    height: 300px;
    background-image: $bg-image;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


