.birinci{
  width: 200px ;
  height: 200px;
  background-color: green;
  animation: renk_degistir 5s;
}

@keyframes renk_degistir {

  from{background-color: blue;}
  to{background-color: chocolate;}
  
}