*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    
    "header"
    "sidebar"
    "article"
    "footer"
    
    ;
}

.container>*{
    padding: 10px;
}

header{
    grid-area: header;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    "name name name name name name"
    "about about cv cv contact contact"
    ;
    
}

.name{
    grid-area: name;
    justify-self: center;
    padding-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.about{
    grid-area: about;
}

.cv{
    grid-area: cv;
}

.contact{
    grid-area: contact;
}

article{
    grid-area: article;
    background-color: azure;
}

.sidebar{
    grid-area: sidebar;
    background-color: rgb(172, 164, 154);
    display: grid;
    justify-content: center;

}

.sidebar>div{
    display: grid;
    justify-content: center;
    font-size: 1.5em;
    padding-top: 10px;
}

.sidebar>ul{
    display: grid;
    justify-content: center;
    list-style: none;
    grid-auto-flow: column;
}

.sidebar>ul>li{
    padding-left: 20px;
}


footer{
    grid-area: footer;
    background-color: black;
    color: white;
}

.sidebar>img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

footer{
    display: grid;
    justify-content: center;
}

@media screen and (min-width:768px) {

    header{

        grid-template-columns: repeat(5,1fr);
        grid-template-areas: 
    "name name about cv contact"
    ;
        
    }



    .about{
        justify-self: end;
        align-self: center;
    }

    .cv{
        justify-self: end;
        align-self: center;
    }

    .contact{
        justify-self: end;
        align-self: center;
    }


    
}