
    body{
        background-color: red;
        color: white;
    }


@media screen and (min-width:300px) {

    body{
        background-color: blue;
        color: salmon;
    }
    
}














