* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#erste{
    margin-top: 2vw;
}

.fa-restroom , .fa-bars{
    font-size: 30px !important;
}

.fa-restroom{
    color: rgb(47, 217, 240);;
}

#zweite{
    margin-top: 1vw;
}

.image1{
    height: 40vh;
}

.image2{
    height: 25vh;
}


button {
    padding: 6px 20px;
    border: none;
    background-color: rgb(47, 217, 240);
    font-weight: 700;
}

#dritte {
    background-color: rgb(47, 217, 240);

}


.fab{
    margin-left: 25px;
}

