.page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em 2em;
}

header{
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: blue;

}

main{
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

article{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: gold;
}

aside{
    grid-column-start:-2;
    grid-column-end: -1;
    background-color: green;
}

footer{
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: grey;
}