*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    background-color: khaki;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5em;
    align-items: center;
}

nav div ul{
    display: flex;
    
}

nav div ul li,a{
    list-style: none;
    text-decoration: none;
}

nav div ul li{

    padding: .5em;
    font-size: 1.5em;
    
}


@media screen and (min-width:767px) {

    nav{
        background-color: khaki;
        display: flex;
        justify-content: space-between;
        padding: .5em;
        align-items: center;
    }

    nav div ul{
        display: flex;
        
    }

    nav div ul li{

        padding: .5em;
        font-size: 1.5em;
        
    }
}