* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

header {
    background-color: #062e51;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1em;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding-left: 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

#homepage img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#homepage div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

#lebenslauf {
    background-color: #062e51;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

form h4{
    text-align: center;
    font-size: 2em;
}


.form-control {
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    resize: none;
    border-radius: 5px;
}

.form-group {
    padding: 0.25rem 0;
}

.form-group label {
    display: block;
}

.form-group input {
    display: block;
}

.btn {
    margin-top: 1.25rem;
    padding: 0.8rem 3rem;
    border-radius: 7px;
    letter-spacing: 0.5px;
}

.btn-block {
    width: 100%;
    text-align: center;
}



#kontakt .kontakt-form {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

#kontakt .kontakt-form ul {
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    align-self: center;
    justify-content: space-around;
}

#kontakt .kontakt-form ul li a {
    font-size: 2rem;
    color: black;
    padding-left: 10px;
}


@media screen and (min-width: 768px) { 

    .items {
        display: flex;
        flex-direction: row;
        padding: 10px;
    }

    .item{
        padding: 10px;
    }
}


@media screen and (min-width:1024px) {

    nav{
        flex-direction: row;
        justify-content: space-between;
    }

    .name{
        font-size: 1.5em;
    }

    .social-media{
        background-color:#062e51;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    #kontakt .kontakt-form ul li a {
        color: white;
    }
    
}